* {
  margin: 0;
  padding: 0;
}

.background {
  background: rgb(31, 31, 31);
  min-height: 100vh;
}

.container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Inter;
  color: white;
}

.container h1 {
  padding: 20px;
}

.search {
  width: 70%;
  height: 36px;
  display: flex;
  margin: 0 5px 0 5px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 14px;
}

.search input {
  width: 80%;
  background: rgb(199, 199, 199);
  padding-left: 12px;
  border: none;
  border-radius: 12px 0 0 12px;
  outline: none;
}

.search button {
  width: 20%;
  background: rgb(100, 0, 120);
  color: white;
  border: none;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

.search button:hover {
  background: rgb(78, 1, 94);
}

.container p {
  font-size: 14px;
  padding: 20px 0 20px 0;
  font-style: italic;
  color: rgb(199, 199, 199);
}

.repos {
  width: 70%;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
